development:
  adapter: postgresql
  encoding: utf8
  database: filter_example_development
  username: postgres
  password: password
  hostname: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: filter_example_test
  username: postgres
  password: password
  hostname: localhost
